
.ContainerFAQ {
    background-image: linear-gradient(45deg, #7d7d7d 0%, #2c403f 68%);
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    img{
        margin-bottom: 20px;
    }
}

.ContainerFAQAllItens {
    width: 100%; 
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box; 
}

.customAccordion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.accordion-body {
    max-width: 100%; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word;
}

