
.ContainerFAQAllItens{
    margin-top: 0px;
    p{
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        position: relative;
        bottom: 20px;
    }
}
.carouselCustomFAQ{
    height: 30vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .carousel-indicators{
       top: 268px;
    }
}

.ContainerItensCarousel{
    height: max-content;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    background-color:  rgb(44, 64, 63);
    padding: 10px;
    border-radius: 10px;
    margin-left: 70px;
    margin-bottom: 30px;
    width: 80%;
}

.LabelFAQEditAndDelete{
    font-size: 12px;
}

.ContainerBtnsFAQ{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}


.BtnsIconsEditFAQ{
    background-color: rgb(46, 43, 43);
    border: none;


    &:hover{
        background-color: white;
        color: rgb(44, 64, 63);
        transition: all 0.9s ease-in-out;
    }
}

.BtnsIconsFAQDelete{
    background-color: rgb(78, 27, 27);
    border: none;

    &:hover{
        background-color: white;
        color: red;
        transition: all 0.9s ease-in-out;
    }
}

@media (min-width: 480px) and (max-width: 1024px){
    
.ContainerFAQAllItens{
    margin-top: 0px;
    p{
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        position: relative;
        bottom: 20px;
    }
}
.carouselCustomFAQ{
    height: 30vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .carousel-indicators{
       top: 210px;
    }
}

.ContainerItensCarousel{
    height: max-content;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    background-color:  rgb(44, 64, 63);
    padding: 10px;
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 65px;
    margin-bottom: 0px;
}

.LabelFAQEditAndDelete{
    font-size: 12px!important;
}

.inputValuesFAQ{
    font-size: 12px;
}

.ContainerBtnsFAQ{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}


.BtnsIconsEditFAQ{
    background-color: rgb(46, 43, 43);
    border: none;


    &:hover{
        background-color: white;
        color: rgb(44, 64, 63);
        transition: all 0.9s ease-in-out;
    }
}


}

@media (max-width: 480px) {

    
.ContainerFAQAllItens{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        font-size: 12px;
        text-align: center;
        font-weight: bold;
    }
}
.carouselCustomFAQ{
    height: 30vh;
    position: relative;
    right: 25px;
    padding: 10px;

    .carousel-inner{
        position: relative;
        width: 380px;
        right: 70px;
        
    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }

    .carousel-indicators{
       top: 150px;
       left: 140px;
    }
}



.ContainerItensCarousel{
    margin-left: 0px;
    width: max-content;
}

.LabelFAQEditAndDelete{
    font-size: 12px!important;
}

.ContainerBtnsFAQ{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    
}


.BtnsIconsEditFAQ{
    background-color: rgb(46, 43, 43);
    border: none;


    &:hover{
        background-color: white;
        color: rgb(44, 64, 63);
        transition: all 0.9s ease-in-out;
    }
}

.BtnsIconsFAQDelete{
    background-color: rgb(78, 27, 27);
    border: none;

    &:hover{
        background-color: white;
        color: red;
        transition: all 0.9s ease-in-out;
    }
}

}
