
.ContainerFAQAllItens{
    margin-top: 0px;
    p{
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        position: relative;
        bottom: 20px;
    }
}
.carouselCustomFAQ{
    height: 30vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .carousel-indicators{
       top: 268px;
    }
}

.ContainerItensCarousel{
    height: max-content;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    margin-left: 70px;
    margin-bottom: 30px;
    width: 80%;
}

.LabelFAQEditAndDelete{
    font-size: 12px;
}

.ContainerBtnsFAQ{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}


.BtnsIconsEditFAQ{
    background-color: rgb(46, 43, 43);
    border: none;


    &:hover{
        background-color: white;
        color: rgb(44, 64, 63);
        transition: all 0.9s ease-in-out;
    }
}

.BtnsIconsFAQDelete{
    background-color: rgb(78, 27, 27);
    border: none;

    &:hover{
        background-color: white;
        color: red;
        transition: all 0.9s ease-in-out;
    }
}
