.headerFaq{
    display: flex;
    gap: 10px;
    color: rgb(44, 64, 63);
    margin: 5px 0px 15px 0px;
    margin-top: 15px;
    
       p{
        margin-top: 2px;
        font-weight: bold;
    }
}

#containerFAQs{
    display: flex;
    gap: 10px;
}

.p-float-label label {
  font-weight: bold; 
}



@media (min-width: 481px) and (max-width: 1281px){

}

@media only screen and (max-width: 481px)  {
    
#containerFAQs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
   

}