.headerFaq{
    display: flex;
    gap: 10px;
    color: rgb(44, 64, 63);
    margin: 5px 0px 15px 0px;
    margin-top: 15px;
    
       p{
        margin-top: 2px;
        font-weight: bold;
    }
}

#containerFAQs{
    display: flex;
    gap: 10px;
}

.p-float-label label {
  font-weight: bold; 
}



@media (min-width: 480px) and (max-width: 1024px){

}

@media only screen and (max-width: 480px) and (min-width: 375px) {

   

}