.ContainerHomeAdmin{
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.ContainerTitleHome{
    border-radius: 10px;
    width: max-content;
    background: linear-gradient(to left, #56BFC9, #24A637 65%);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.titleHomeAdmin{
   text-align: center;
   font-weight: bold;
   font-size: 30px;
}

.ContainerWelcome{
    padding: 10px;
}

.TitleWelcome{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    margin-top: 10px;
}

.TxtWelcome{
    font-weight: 600;
    margin-bottom: 0px;
}

.TxtInicial{
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 0px;
}




.ContainerFooterHome{
    padding: 5px;
}

.TxtFooterHome{
    font-weight: 600;
    margin-bottom: 0px;

}

@media only screen and (max-width: 1040px){

    .ContainerHomeAdmin{
        overflow: auto;
    }
    .ContainerTitleHome{
        border-radius: 10px;
        background: linear-gradient(15deg, rgb(134, 134, 134) 0%, rgba(44, 64, 63, 0.877) 25%);
        color: white;
        padding: 10px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 10px 1px rgba(2, 2, 2, 0.61);
        
    }
    
    .titleHomeAdmin{
       text-align: center;
       font-weight: bold;
       font-size: 30px;
    }
    
    .ContainerWelcome{
        padding: 10px;
    }
    
    .TitleWelcome{
        font-weight: bold;
        font-style: italic;
        font-size: 22px;
        margin-top: 10px;
    }
    
    .TxtWelcome{
        font-weight: 600;
        margin-bottom: 0px;
    }
    
    .TxtInicial{
        margin-top: 10px;
        font-weight: 600;
        margin-bottom: 0px;
    }
    
    
    
    
    .ContainerFooterHome{
        padding: 5px;
        font-size: 10px;
    }
    
    .TxtFooterHome{
        font-weight: 600;
        margin-bottom: 0px;
    
    }

}

@media (min-width: 768px) and (max-width: 1024px){
    .ContainerHomeAdmin{
        overflow: auto;
    }
    .ContainerTitleHome{
        border-radius: 10px;
        background: linear-gradient(15deg, rgb(134, 134, 134) 0%, rgba(44, 64, 63, 0.877) 25%);
        color: white;
        padding: 10px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 10px 1px rgba(2, 2, 2, 0.61);
        
    }
    
    .titleHomeAdmin{
       text-align: center;
       font-weight: bold;
       font-size: 12px;
       margin-top: 10px;
     
    }
    
    .ContainerWelcome{
        padding: 10px;
    }
    
    .TitleWelcome{
        font-weight: bold;
        font-style: italic;
        font-size: 12px;
        margin-top: 10px;
    }
    
    .TxtWelcome{
        font-weight: 600;
        margin-bottom: 0px;
        font-size: 12px;
    }
    
    .TxtInicial{
        margin-top: 10px;
        font-weight: 600;
        margin-bottom: 0px;
        font-size: 12px;
    }
    
    
    
    
    .ContainerFooterHome{
        padding: 5px;
    }
    
    .TxtFooterHome{
        font-weight: 600;
        margin-bottom: 0px;
        font-size: 12px;
    
    }
}

 

@media only screen and (max-width: 480px){

    .ContainerHomeAdmin{
        overflow: auto;
    }
    .ContainerTitleHome{
        border-radius: 10px;
        background: linear-gradient(15deg, rgb(134, 134, 134) 0%, rgba(44, 64, 63, 0.877) 25%);
        color: white;
        padding: 10px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 10px 1px rgba(2, 2, 2, 0.61);
        
    }
    
    .titleHomeAdmin{
       text-align: center;
       font-weight: bold;
       font-size: 12px;
       margin-top: 10px;
     
    }
    
    .ContainerWelcome{
        padding: 10px;
    }
    
    .TitleWelcome{
        font-weight: bold;
        font-style: italic;
        font-size: 12px;
        margin-top: 10px;
    }
    
    .TxtWelcome{
        font-weight: 600;
        margin-bottom: 0px;
        font-size: 12px;
    }
    
    .TxtInicial{
        margin-top: 10px;
        font-weight: 600;
        margin-bottom: 0px;
        font-size: 12px;
    }
    
    
    
    
    .ContainerFooterHome{
        padding: 5px;
    }
    
    .TxtFooterHome{
        font-weight: 600;
        margin-bottom: 0px;
        font-size: 12px;
    
    }

 
   }

