#ContainerModalPasswordChange .modal-content{
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);

    

    p{
        color: white;
    }
}

.titleModalPassword{
    color: white;
}

.containerInputsPasswordChange{
    display: flex;
    flex-direction: column;
    gap: 20px;

    

    .labelInputPassword{
        font-size: 14px;
        color: white;
    }
}

.btn-sendPassword{
    margin-top: 20px;
}

.txtErrorPassword{
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
    color: red!important

}

