#ContainerModalChangePhoto .modal-content{
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);

}

.txtInfo{
    color: rgb(63, 63, 63);;
}


.titleModalChangePhoto{
    color: rgb(63, 63, 63)
}

.customBodyPhotoChange{
    display: flex;
}


.fileImageLabel{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 1px dashed white;
    border-radius: 10px;
}

.iconImg{
    margin-top: 10px;
}


.in-file{
    opacity: 0;
}

.error-messageFile{
color: red;
}




