

.containerInfoSettings{
    display: flex;
    gap: 10px;
    color: rgb(44, 64, 63);
    margin: 5px 0px 15px 0px;

    p{
        margin-top: 2px;
        font-weight: bold;
    }
}

.containerUserSettings{
    display:flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    font-weight: bold;
    


    
}

.btnPass{
    background-color: rgb(44, 64, 63);
    border: none;
    height: 40px;
    border-radius: 5px;
}




@media (min-width: 480px) and (max-width: 1024px){
    
  
    
    
    
    
    
    .inputsValuesUser {
        width: 240px;
        display: grid;
        font-size: 12px;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    
    
    .inputsValuesUserName{
        width: 240px;
        position: relative;
        top: 10px;
        right: 300px;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        padding-left: 0px;

        ::placeholder{
            font-size: 10px;
        }
    }
    
    .valueInputCustom{
        color: gray;
        width: max-content;
        height: 30px;
        border: 1px solid;
    }

    .input-group{
        width: 208px;

        & button{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
        }
    }
    
    
    .containerSystemSettings{
        border-radius: 20px;
        padding: 10px;
        background-color: rgb(243, 243, 243);
    }
}

@media only screen and (max-width: 480px) and (min-width: 375px){


   
    
    
    
    
    .inputsValuesUser {
        width: 240px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    
    .inputsValuesUserName{
        width: 240px;
        position: relative;
        top: 10px;
        left: 0px;
        display: flex;
        flex-direction: column;
        padding-left: 15px;

        ::placeholder{
            font-size: 10px;
        }
    }
    
    .valueInputCustom{
        color: gray;
        width: max-content;
        height: 30px;
    
    }

  
    
    .containerSystemSettings{
        border-radius: 20px;
        padding: 10px;
        background-color: rgb(243, 243, 243);
    }


    .inputsValuesUser .input-group {
        display: flex;
        align-items: center;
        width: 220%;
      
        input {
          flex: 1; 
        }

        & button{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
        }
      
        
      }
       }