

.containerInfoSettings{
    display: flex;
    gap: 10px;
    color: rgb(44, 64, 63);
    margin: 5px 0px 15px 0px;

    p{
        margin-top: 2px;
        font-weight: bold;
    }
}

.ContainerInfoUser{
    border-radius: 10px;
    background-color: rgb(44, 64, 63);
    width: 50%;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.containerUserSettings{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    gap: 20px;
    


    .form-label{
        font-size: 14px!important;
        color: white;
        margin-bottom: 0px;
        
    }
}


.inputsValuesUser{
    display: flex;
    justify-content: center;
}


.valueInputCustom{
    color: gray;
    font-weight: bold;
    
}




@media (min-width: 480px) and (max-width: 1024px){
    
    .ContainerSettingsAndUser{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;

        
        
       
    }


    .titleSettings{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        
    }

    .containerUserSettings{
        display: flex;
        flex-direction: column;
        width: 270px;
        height: max-content;
        align-items: center;
        height: max-content;
        border-radius: 20px;
        padding: 10px;
        gap: 20px;
    
    
        .form-label{
            font-size: 12px!important;

        }
    }
    
 

    
    .titleUserSettings{
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 14px;
       
    }
    
    
    .user-imageSettings{
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        left: 30px;
        bottom: 30px;
    }
    
    .user-imageSettings img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 50%; 
    }
    
    
    .containerFileImg{
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        position: relative;
        justify-content: center;
        top: 55px;
        left: 55px;
        cursor: pointer;
        }
    
    
    
    .file-btn{
        position: absolute; 
        width: 100%; 
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        cursor: pointer;
        border: 1px dashed;
        position: relative;
        left: 10px;
        top: 30px;
    
        &:hover{
            transform: scale(1.05);
            transition: 0.3s all ease-in-out;
            color: rgb(0, 136, 247);
            background-color: rgb(78, 78, 78);
    
        }
    }
    
    
    
    
    .inputsValuesUser {
        width: 240px;
        display: grid;
        font-size: 12px;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    
    
    .inputsValuesUserName{
        width: 240px;
        position: relative;
        top: 10px;
        right: 300px;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        padding-left: 0px;

        ::placeholder{
            font-size: 10px;
        }
    }
    
    .valueInputCustom{
        color: gray;
        width: max-content;
        height: 30px;
        border: 1px solid;
    }

    .input-group{
        width: 208px;

        & button{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
        }
    }
    
    
    .containerSystemSettings{
        border-radius: 20px;
        padding: 10px;
        background-color: rgb(243, 243, 243);
    }
}

@media only screen and (max-width: 480px) and (min-width: 375px){


    .ContainerSettingsAndUser{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;
       
    }
    
    .containerUserSettings{
        display: flex;
        flex-direction: column;
        width: 270px;
        height: max-content;
        align-items: center;
        height: max-content;
        border-radius: 20px;
        padding: 10px;
        gap: 20px;
    
    
        .form-label{
            font-size: 12px!important;
        
        }
    }
    
    .titleUserSettings{
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 14px;
       
    }
    
    
    .user-imageSettings{
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        left: 20px;
    }
    
    .user-imageSettings img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 50%; 
    }
    
    
    .containerFileImg{
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        position: relative;
        justify-content: center;
        top: 0px;
        left: 55px;
        cursor: pointer;
        }
    
    
    
    .file-btn{
        position: absolute; 
        width: 100%; 
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        cursor: pointer;
        border: 1px dashed;
    
        &:hover{
            transform: scale(1.05);
            transition: 0.3s all ease-in-out;
            color: rgb(0, 136, 247);
            background-color: rgb(78, 78, 78);
    
        }
    }
    
    
    
    
    .inputsValuesUser {
        width: 240px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    
    .inputsValuesUserName{
        width: 240px;
        position: relative;
        top: 10px;
        left: 0px;
        display: flex;
        flex-direction: column;
        padding-left: 15px;

        ::placeholder{
            font-size: 10px;
        }
    }
    
    .valueInputCustom{
        color: gray;
        width: max-content;
        height: 30px;
    
    }

  
    
    .containerSystemSettings{
        border-radius: 20px;
        padding: 10px;
        background-color: rgb(243, 243, 243);
    }


    .inputsValuesUser .input-group {
        display: flex;
        align-items: center;
        width: 220%;
      
        input {
          flex: 1; 
        }

        & button{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
        }
      
        
      }
       }