
.containerAdminSystem{
    font-family: 'Roboto' , sans-serif;
    width: 100vw;
    height: 100vh;
}


.MainAndNavContainers{
    display: flex;
    width: 100vh;
    border: 1px solid red;
    background-color: gray;
}

.ContainerMainSystem{
    width: 80%;
    height: max-content;
    position: relative;
    left: 150px;
    top: 20px;

}


.containerWrapperOptions{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 12px;
    padding: 10px;
    height: 85vh;
    
    
}



.btnEdited {
    display: flex;
    align-items: center;
    gap: 10px;

    img{
        width: 30px;
        height: 30px;
    }
}
.btns {
    background-color: transparent;
    border: none;
    
    &:hover{
        transform: scale(1.05);
        transition: 0.3s all ease-in-out;
        background-color: transparent;
    }

    
}



@media only screen and (max-width: 740px){

    .containerWrapper{
 
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        width: 80vw;
        height: 80vh;
        margin-left: 0px;
        border-radius: 12px;
        padding: 10px;
        
        
    }
   }
    