$containerMainSystem-width-closed: 82%;
$containerMainSystem-width-open: 90%;


.containerAdminSystem{
    font-family: 'Roboto' , sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(201, 201, 201);
}

.ContainerMainSystem{
    width: $containerMainSystem-width-closed;
    height: max-content;
    position: relative;
    left: 130px;
    top: 20px;

}

//*** aumentar tamanho do container do mainsystem **// 

.ContainerMainSystem-expanded{
    width: $containerMainSystem-width-open;
    transition: all 1s ease-in-out;
    left: 55px;
}

//*** final do tamanho do container do mainsystem **// 


.containerWrapperOptions{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 12px;
    padding: 10px;
    height: 86vh;
    
    
}



.btnEdited {
    display: flex;
    align-items: center;
    gap: 10px;

    img{
        width: 30px;
        height: 30px;
    }
}
.btns {
    background-color: transparent;
    border: none;
    
    &:hover{
        transform: scale(1.05);
        transition: 0.3s all ease-in-out;
        background-color: transparent;
    }

    
}



@media only screen and (max-width: 740px){
    
   
.ContainerMainSystem{
    width: 80%;
    height: max-content;
    position: relative;
    left: 35px;
    top: 20px;

}

   }
    