.bodyHeader{
    background-color: rgb(245, 245, 245);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.containerDivLeft{
    display: flex;
    
}

.inputSearch{
    width: 300px;
}

.SearchButton{
    background-color: rgba(44, 64, 63, 0.726);
  
    
    img{
        width: 25px;
        height: 25px;
    }


    &:hover{
        background-color: rgb(16, 29, 129);
        border: 1px solid white;
        transition: 0.4s all ease-in-out;

    }
}

.customDivRight{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    position: relative;
    left: 250px;

    
}

.containerUser{
   

    p{
        width: 190px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        
       
    }
    
    
    
}

.backButton{
    color: rgb(221, 0, 0);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;

    &:hover{
        transform: scale(1.02);
        opacity: 0.6;
        
    }
}

@media only screen and (max-width: 740px){

    .bodyHeader{
        background-color: rgb(245, 245, 245);
        height: 10vh;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        gap: 1px;
    }
    
    .containerDivs{
        display: flex;
        
    }
    
    .inputSearch{
        width: 120px;
        height: 30px;
    }
    
    .SearchButton{
        background-color: rgba(44, 64, 63, 0.726);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 10px;
            height: 10px;
        }
    
    
        &:hover{
            background-color: rgb(16, 29, 129);
            border: 1px solid white;
        }
    }
    
    .customDivRight{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        width: 180px;
        left: -10px;
        
    
        
    }
    
    .containerUser{
       display: flex;
       align-items: center;
       justify-content: center;
    
        p{
        position: relative;
        top: 8px;
        width: 105px;
        text-align: center;
        font-size: 10px;
        font-weight: 600;
            
           
        }
        
        
        
    }
    
    .backButton{
        color: rgb(221, 0, 0);
      
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 12px;
    
        &:hover{
            transform: scale(1.02);
            opacity: 0.6;
            
        }
    }
   }