.bodyHeader{
    background-color: rgb(245, 245, 245);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}

.containerDivLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 12px;
    gap: 2px;
    
}

.OpenNavBarWithToogle{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: rgba(44, 64, 63, 0.726);
    border: none;

    &:hover{
        transition: 0.3s all ease-in-out;
        background-color: rgba(44, 64, 63, 0.726);
        color: white;
        border: 1px solid white;

    }
}

.inputSearch{
    width: 300px;
}

.SearchButton{
    background-color: rgba(44, 64, 63, 0.726);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    
    img{
        width: 25px;
        height: 25px;
    }


    &:hover{
        background-color: rgb(16, 29, 129);
        border: 1px solid white;
        transition: 0.4s all ease-in-out;

    }
}

.containerButtonsHeader{
    display: flex;
    align-items: center;
    width: 100px;
    gap: 8px;
    position: relative;
    left: 22px;

    button{
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 10px;
        color: rgb(122, 122, 122);
        background-color: transparent;

        &:hover{
            background-color: rgba(122, 122, 122, 0.295);
            transition: 0.5s all ease-in-out;
        }
    }
}

.customDivRight{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    height: max-content;

    
}
.custom-userPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    
}

.containerUser{
    
    p{  
        margin-top: 15px;
        width: 190px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }   
    
}

.backButton{
    color: rgb(221, 0, 0);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;

    &:hover{
        transform: scale(1.02);
        opacity: 0.6;
        
    }
}

@media only screen and (max-width: 740px){

    .bodyHeader{
        background-color: rgb(245, 245, 245);
        height: 10vh;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        justify-content: start;
    }

  

    .customDivRight{
        display: flex;
        align-items: center;
        height: 70px;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
    
        
    }
    .custom-userPhoto{
        margin-top: 15px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        
    }
    
    .containerUser{
    
        p{
            display: none;
            width: 190px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
        }   
        
    }
    
    .backButton{
        display:none;
        color: rgb(221, 0, 0);
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 18px;
    
        &:hover{
            transform: scale(1.02);
            opacity: 0.6;
            
        }
    }

    .OpenNavBarWithToogle{
        display: flex;
        position: relative;
        right: 25px;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        border: none;
        background-color: rgba(44, 64, 63, 0.726);
        color: rgb(255, 255, 255);;

        &:hover{
            background-color: rgba(44, 64, 63, 0.726);
            transition: 0.5s all ease-in-out;
        }
    }

    .containerDivLeft{
        display: flex;
        position: relative;
        left: 26px;
        right: 0;
        
    }
    
    .containerDivs{
        display: flex;
        
    }
    
    .inputSearch{
        width: 120px;
        height: 30px;
    }
    
    .SearchButton{
        background-color: rgba(44, 64, 63, 0.726);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 10px;
            height: 10px;
        }
    
    
        &:hover{
            background-color: rgb(16, 29, 129);
            border: 1px solid white;
        }
    }

    .containerButtonsHeader{
        display: flex;
        align-items: center;
        width: 100px;
        gap: 0px;
        position: relative;
        left: 46px;
    
        button{
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 10px;
            color: rgb(122, 122, 122);
            background-color: transparent;
    
            &:hover{
                background-color: rgba(122, 122, 122, 0.295);
                transition: 0.5s all ease-in-out;
            }
        }
    }
    
    .customDivRight{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        width: 180px;
        
    
        
    }
    
    .containerUser{
       display: flex;
       align-items: center;
       justify-content: center;
    
        p{
            margin-top: 20px;
        position: relative;
        top: 8px;
        width: 105px;
        text-align: center;
        font-size: 10px;
        font-weight: 600;
            
           
        }
        
        
        
    }
    
    .backButton{
        color: rgb(221, 0, 0);
      
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 12px;
    
        &:hover{
            transform: scale(1.02);
            opacity: 0.6;
            
        }
    }
   }