$bodyNav-width-collapsed: 15vw;
$bodyNav-width-expanded: 7vw;
$border-radius: 1rem;

.bodyNav{
    background-color: rgba(44, 64, 63, 0.726);
    background: rgb(215,215,215);
    background: linear-gradient(6deg, rgb(134, 134, 134) 0%, rgb(44, 64, 63) 15%);
    height: 100vh;
    width: $bodyNav-width-collapsed;
    position: absolute;
    top: 0;
    border-radius:  0 20px 20px 0px;


    
}


.containerDivsLanguage{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    
    

}


.my-btns-linguage{
    width: 15px;
    height: 15px;
    border: none;
    background-color: transparent;

    

    &:hover{
        transform: scale(1.03);
        transition: 0.5s all ease-in-out;
    }

    button{
        border-radius: 50%;
    }
}


.divImg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    
}
.imgPEDEA{
    width: 15vw;
}

.hrNavOptionsOne{
    margin-top: 8px;
    margin-bottom: 10px;
    border: 1px dashed white;
}

.hrNavOptionsTwo{
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px dashed white;
}
.titleText{
    color: rgba(204, 204, 204, 0.76);
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: 14vw;

    h5{
        font-size: 20px;
        font-weight: 800;
    }

}

.ContainerButtonsSystem{
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 25px;
    width: 104%;
}




.NavOptionsLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 15vw;
    gap: 22px;
}

.OptionsItems {
    width: 99.5%;
    border: none;
    

}

.links-btnsNav{
    display: flex;
    color: rgb(173, 173, 173);
    gap: 5px;
    align-items: center;
    border: none;
    border-radius: 100px 0 0 100px;
    
    

    &:hover{
        color: rgba(44, 64, 63, 0.726);
        background-color: rgb(151, 151, 151);
    }

    

}

.disableLink{
    display: flex;
    gap: 5px;
    color: rgb(77, 0, 0);
}






.links-btnsNav.active{
    view-transition-name: activeNavTab;
    color: rgba(44, 64, 63, 0.726);
    background-color: rgb(151, 151, 151);
    position: relative;
  

}

.links-btnsNav.active::before, .links-btnsNav.active::after{
    content: '';
    position: absolute;
    width: $border-radius;
    height: $border-radius;
    background: rgba(44, 64, 63, 0.726);
    left: 93.6%;
}

.links-btnsNav.active::before {
    top: calc(-#{$border-radius} * -2.5);
    border-radius: 0 100vw 0 0;
    box-shadow: 5px -5px  0 5px rgb(151, 151, 151);
}

.links-btnsNav.active::after {
    bottom: calc(-#{$border-radius} * -2.5);
    border-radius: 0 0 100vw 0;
    box-shadow: 5px 5px  0 5px rgb(151, 151, 151);
}

.containerNavFooter{
    color: rgba(204, 204, 204, 0.76);
    padding: 10px;
    text-align:justify;
    
    p{
        font-size: 14px;
    }
}

//*** Diminuir tamanho do container do NavBar-expanded **// 

.bodyNav-expanded {
    width: $bodyNav-width-expanded;
    transition: all 1s ease-in-out;
  

    .containerDivsLanguage{
        display: flex;
        justify-content: center;
        position: relative;
        left: 10px;
        gap: 12px;
        flex-direction: column;
        margin-top: 2px;
        
        
    
    }

    .my-btns-linguage{
        width: 15px;
        height: 15px;
        border: none;
        background-color: transparent;
        margin-left: 30px;
        transition: all 0.8s ease-in-out;
       
    
        
    
        &:hover{
            transform: scale(1.03);
            transition: 0.5s all ease-in-out;
        }
    
        button{
            border-radius: 50%;
        }
    }

    .divImg{
        display: none;
        
  
    }

    .hrNavOptionsOne{
        margin-top: 20px;
        margin-bottom: 10px;
        border: 1px dashed white;
    }
    
    .hrNavOptionsTwo{
        margin-top: 20px;
        margin-bottom: 10px;
        border: 1px dashed white;
    }

    .titleText{
        color: rgba(204, 204, 204, 0.76);
        width: 5vw;
        transition: all 1s ease-in-out;
    
        h5{
            font-size: 16px;
            font-weight: 800;
            text-align: center;
        }
    
    }

    .NavOptionsLinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        width: 109%;
        gap: 20px;
    }
    
    .OptionsItems{
        width: 113%;
        font-size: 0px;
        display: flex;
        align-items: center;
        border: none;
    }

    .links-btnsNav{
        display: flex;
        color: rgb(173, 173, 173);
        gap: 5px;
        align-items: center;
        border: none;
        border-radius: 100px 0 0 100px;
        font-size: 9px;
    
        &:hover{
            color: rgba(44, 64, 63, 0.726);
            background-color: rgb(151, 151, 151);
            width: 113%;
        }
    
    }

    .disableLink{
        display: flex;
        gap: 5px;
        color: rgb(77, 0, 0);
    }
    .links-btnsNav.active{
        color: rgba(44, 64, 63, 0.726);
        background-color: rgb(151, 151, 151);
        position: relative;
        width: 200%;
    }
    
    .links-btnsNav.active::before, .links-btnsNav.active::after{
        content: '';
        position: absolute;
        width: $border-radius;
        height: $border-radius;
        background: rgba(44, 64, 63, 0.726);
        border-radius: 100px;
        left: 81%;
        transition: all 0s ease-in-out;
    }
    
    .links-btnsNav.active::before {
        top: calc(-#{$border-radius} * -2.5);
        border-radius: 0 100vw 0 0;
        box-shadow: 5px -5px  0 5px rgb(151, 151, 151);
    }
    
    .links-btnsNav.active::after {
        bottom: calc(-#{$border-radius} * -2.5);
        border-radius: 0 0 100vw 0;
        box-shadow: 5px 5px  0 5px rgb(151, 151, 151);
    }
    
    

    .containerNavFooter{
        color: rgba(204, 204, 204, 0.76);
        padding: 10px;
        text-align:justify;
        
        p{
            font-size: 12px;
            width: 100px;
            margin-bottom: 5px;
        }
    }
    
}

//***  tamanho do container do NavBar-expanded **// 


@media only screen and (max-width: 1040px){
   
  }

@media only screen and (max-width: 740px){
    .bodyNav{
        width: 17vw;
    }
    
    .containerDivsLanguage{
        margin-top: 2px;
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .imgPEDEA{
        display: none;
    }


    .my-btns-linguage{
        width: 5px;
        height: 20px;
        border: none;
        background-color: transparent;
    }

    .hrNavOptionsOne{
        position: relative;
        bottom: 18px;
        margin-bottom: 0px;
        border: 1px dashed white;
    }

    .hrNavOptionsTwo{
        position: relative;
        bottom: 40px;
        margin-bottom: 0px;
        border: 1px dashed white;
    }


    .titleText{
        color: rgba(204, 204, 204, 0.76);
        display: flex;
        margin-top: 10px;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
        width: 14vw;
       
    
        h5{
            font-size: 10px;
            font-weight: 800;
            
        }
    
    }

    .NavOptionsLinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1px;
        position: relative;
        right: 8px;
        gap: 8px;


    }

    .links-btnsNav{
        display: flex;
        color: rgb(173, 173, 173);
        gap: 5px;
        align-items: center;
        border: none;
        border-radius: 100px 0 0 100px;
        font-size: 0px;
    
        &:hover{
            color: white;
            background-color: rgb(151, 151, 151);
            width: 113%;
        }

        
    
    }
    .links-btnsNav.active{
        color: rgba(44, 64, 63, 0.726);
        background-color: rgb(151, 151, 151);
        position: relative;
        width: 110%;
    }
    
    .links-btnsNav.active::before, .links-btnsNav.active::after{
        content: '';
        position: absolute;
        width: 0.8rem;
        height: $border-radius;
        background: rgba(44, 64, 63, 0.726);
        left: 80%;
        
    }
    
    .links-btnsNav.active::before {
        top: calc(-#{$border-radius} * -2.5);
        border-radius: 0 100vw 0 110vw;
        box-shadow: 5px -5px  0 5px rgb(151, 151, 151);
    }
    
    .links-btnsNav.active::after {
        bottom: calc(-#{$border-radius} * -2.5);
        border-radius: 110vw 0 100vw 0;
        box-shadow: 5px 5px  0 5px rgb(151, 151, 151);
    }


    .containerNavFooter{
        color: rgba(204, 204, 204, 0.76);
        padding: 10px;
        position: relative;
        right: 17px;
        bottom: 30px;
        width: 12vw;
        
        p{  
            width: 50px;
            font-size: 10px;
        }
    }


     //** start container mobile after click **//

     .bodyNav-expanded{

        .bodyNav{
            width: 17vw;
        }
        .containerDivsLanguage{
            display: flex;
            gap: 10px;
            margin-right: 10px;
            
        }
        .my-btns-linguage{
            display:flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            height: 15px;
            border: none;
            background-color: transparent;
            position: relative;
            right: 25px;
 

        
            &:hover{
                transform: scale(1.03);
                transition: 0.5s all ease-in-out;
            }
        
            button{
                border-radius: 50%;
            }
        }

    
        .imgPEDEA{
            display: none;
        }
    
        .hrNavOptionsOne{
            position: relative;
            bottom: 5px;
            margin-bottom: 0px;
            border: 1px dashed white;
        }

        .hrNavOptionsTwo{
            position: relative;
            bottom: 20px;
            margin-bottom: 0px;
            border: 1px dashed white;
        }
    
    
        .titleText{
            color: rgba(204, 204, 204, 0.76);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 12vw;
           
        
            h5{
                font-size: 10px;
                font-weight: 800;
                
            }
        
        }
    
        .NavOptionsLinks{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1px;
            position: relative;
            right: 8px;
            gap: 8px;
    
    
        }
    
        .links-btnsNav{
            display: flex;
            color: rgb(173, 173, 173);
            gap: 5px;
            align-items: center;
            border: none;
            border-radius: 100px 0 0 100px;
            font-size: 0px;
        
            &:hover{
                color: white;
                background-color: #c9c9c9;
                width: 113%;
            }
    
            
        
        }
        .links-btnsNav.active{
            color: rgba(44, 64, 63, 0.726);
            background-color: #c9c9c9;
            position: relative;
            width: 125%;
        }
        
        .links-btnsNav.active::before, .links-btnsNav.active::after{
            content: '';
            position: absolute;
            width: 0.7rem;
            height: $border-radius;
            background: rgba(44, 64, 63, 0.726);
            left: 82%;
            
        }
        
        .links-btnsNav.active::before {
            top: calc(-#{$border-radius} * -2.5);
            border-radius: 0 100vw 0 110vw;
            box-shadow: 5px -5px  0 5px #c9c9c9;
        }
        
        .links-btnsNav.active::after {
            bottom: calc(-#{$border-radius} * -2.5);
            border-radius: 110vw 0 100vw 0;
            box-shadow: 5px 5px  0 5px #c9c9c9;
        }
    
    
        .containerNavFooter{
            color: rgba(204, 204, 204, 0.76);
            padding: 10px;
            position: relative;
            right: 17px;
            bottom: 25px;
            width: 12vw;
            
            p{  
                width: 50px;
                font-size: 9px;
            }
        }
    
    }
        //*** container mobile afeter click **//


    
}