.bodyNav{
    background-color: rgba(44, 64, 63, 0.726);
    background: rgb(215,215,215);
    background: linear-gradient(6deg, rgb(134, 134, 134) 0%, rgb(44, 64, 63) 15%);
    position: absolute;
    height: 100vh;
    width: 15vw;
    z-index: 3;
    



    hr{
        border: 1px dashed rgb(253, 253, 253);
        width: 100%;
        margin-top: 9px;
    }
    
    
}

.containerDivsLanguage{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    

}



.my-btns-linguage{
    width: 15px;
    height: 15px;
    border: none;
    background-color: transparent;

    

    &:hover{
        transform: scale(1.03);
        transition: 0.5s all ease-in-out;
    }

    button{
        border-radius: 50%;
    }
}


.divImg{
    margin-top: 29px;
    
}
.imgPEDEA{
    width: 14vw;
}

.ContainerButtonsSystem{
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 25px;
    width: 85%;
}

.titleText{
    color: rgba(202, 202, 202, 0.856);
    display: flex;
    margin-left: 10px;
    justify-content: center;
    width: 14vw;

}

.containerButtons{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin-left: 20px;
    width: 100%;

}

.NavOptionsLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 20px;
    width: 100%;
    border-bottom: none;
}

.nav-link{
    display: flex;
    color: rgba(202, 202, 202, 0.856);
    gap: 10px;

    &:hover{
        color: white;
        background-color: rgba(202, 202, 202, 0.856);
    }
   
}

.containerNavFooter{
    color: white;
    padding: 10px;
    text-align:justify;
    
    p{
        font-size: 14px;
    }
}

.titleMenu{
    color: white;
}

@media only screen and (max-width: 1040px){

    .bodyNav{
        display: none;
    }
   }

@media only screen and (max-width: 740px){

    .bodyNav{
        display: none;
    }
   }