.bodyNav{
    background-color: rgba(44, 64, 63, 0.726);
    background: rgb(215,215,215);
    background: linear-gradient(6deg, rgb(134, 134, 134) 0%, rgb(44, 64, 63) 15%);
    position: absolute;
    height: 100vh;
    width: 15vw;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;


    img{
        width: 300px;
        margin-top: 50px;
        
    }

    hr{
        border: 1px dashed rgb(253, 253, 253);
        width: 100%;
        margin-top: 9px;
    }
    
    
}


.divImg{
    position: relative;
    bottom: 18px;
}

.ContainerButtonsSystem{
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 25px;
    width: 85%;
    padding: 10px;
}

.NavBtns{
    border: 1px solid rgba(202, 202, 202, 0.856);
    background: transparent;
    color: rgba(202, 202, 202, 0.856);
    font-size: 18px;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &:hover{
        
        color: white;
        border: 1px dashed white;
    }
}

.containerNavFooter{
    color: white;
    padding: 10px;
    text-align:justify;
    
    p{
        font-size: 14px;
    }
}

.titleMenu{
    color: white;
}

@media only screen and (max-width: 740px){

    .bodyNav{
        display: none;
    }
   }
    