$bodyNav-width-collapsed: 13vw;
$bodyNav-width-expanded: 8vw;
$border-radius: 1rem;

.bodyNav{

    background: linear-gradient(to top, #56BFC9, #24A637 65%);
    height: 84%;
    width: $bodyNav-width-collapsed;
    position: absolute;
    top: 110px;
    display: flex;
    flex-direction: column;
    overflow-y: x;
    border-radius:  20px;
   
    
}


.containerDivsLanguage{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}


.my-btns-linguage{
    width: 15px;
    height: 15px;
    border: none;
    background-color: transparent;

    

    &:hover{
        transform: scale(1.03);
        transition: 0.5s all ease-in-out;
    }
}




.divImg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    
}
.imgPEDEA{
    width: 15vw;
}

.hrNavOptionsOne{
    margin-top: 8px;
    margin-bottom: 10px;
    border: 1px dashed white;
}


.titleText{
    color: white;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;

    h5{
        font-size: 20px;
        font-weight: 800;
    }

}

.ContainerButtonsSystem{
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 25px;
    width: 104%;
}




.NavOptionsLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    gap: 22px;
}



.links-btnsNav{
    display: flex;
    color: white;
    gap: 5px;
    align-items: center;
    border: none;
    border-radius: 100px 0 0 100px;
    transition: 1s all ease-in-out;
    width: 107%;
    

    &:hover{
        color: #24A637;
        background-color: white;
        width: 107%;
    }

    

}

.disableLink{
    display: flex;
    gap: 5px;
    color: rgb(77, 0, 0);
}






.links-btnsNav.active{
    color: #24A637;
    background-color: white;
    width: 107%;
    position: relative;
    transition: all 1s ease-in-out;
    

}




//*** Diminuir tamanho do container do NavBar-expanded **// 

.bodyNav-expanded {
    width: $bodyNav-width-expanded;
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  

    .containerDivsLanguage{
        display: flex;
        justify-content: center;
        position: relative;
        left: 0px;
        right: 20px;
        gap: 12px;
        flex-direction: column;
        margin-top: 2px;
        
        
    
    }

    .my-btns-linguage{
        width: 100%;
        height: 15px;
        border: none;
        background-color: transparent;
        margin-left: 0px;
        transition: all 0.8s ease-in-out;
       
    
        
    
        &:hover{
            transform: scale(1.03);
            transition: 0.5s all ease-in-out;
        }
    
        button{
            border-radius: 50%;
        }
    }

    .hrNavOptionsOne{
        margin-top: 20px;
        margin-bottom: 0px;
        border: 1px dashed white;
        width: 100%;
    }
    
   

    .titleText{
        color: white;
        width: 100%;
        transition: all 1s ease-in-out;
    
        h5{
            font-size: 16px;
            font-weight: 800;
            text-align: center;
        }
    
    }

    .NavOptionsLinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        width: 100%;
        gap: 20px;
    }
    
   
    .links-btnsNav{
        display: flex;
        color: white;
        gap: 5px;
        align-items: center;
        border: none;
        border-radius: 100px 0 0 100px;
        font-size: 12px;
 
        &:hover{
            color: #24A637;
            background-color: white;
            width: 98%;
        }

        transition: all 1s ease-in-out;
    
    }

    .links-btnsNav.active{
        color: #24A637;
        background-color:white;
        position: relative;
        width: 98%;
        
        
        
       
    }
    
    
}

//***  tamanho do container do NavBar-expanded **// 


@media (min-width: 481px) and (max-width: 1281px){
   
    .bodyNav{

    background: linear-gradient(to top, #56BFC9, #24A637 65%);
    height: 81vh;
    width: 15vw;
    position: absolute;
    top: 110px;
    display: flex;
    flex-direction: column;
    overflow-y: x;
    border-radius:  20px;
   
    
}


.links-btnsNav.active{
    color: #24A637;
    background-color: white;
    width: 105%;
    position: relative;
    transition: all 1s ease-in-out;
    

}

.bodyNav-expanded {
    width: $bodyNav-width-expanded;
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  

    .containerDivsLanguage{
        display: flex;
        justify-content: center;
        position: relative;
        left: 0px;
        right: 20px;
        gap: 12px;
        flex-direction: column;
        margin-top: 2px;
        
        
    
    }

    .my-btns-linguage{
        width: 100%;
        height: 15px;
        border: none;
        background-color: transparent;
        margin-left: 0px;
        transition: all 0.8s ease-in-out;
       
    
        
    
        &:hover{
            transform: scale(1.03);
            transition: 0.5s all ease-in-out;
        }
    
        button{
            border-radius: 50%;
        }
    }

   
    
   
    .links-btnsNav{
        display: flex;
        color: white;
        gap: 5px;
        align-items: center;
        border: none;
        border-radius: 100px 0 0 100px;
        font-size: 0px;
 
        &:hover{
            color: #24A637;
            background-color: white;
            width: 98%;
        }

        transition: all 1s ease-in-out;
    
    }

    .links-btnsNav.active{
        color: #24A637;
        background-color:white;
        position: relative;
        width: 135%;
        
        
        
       
    }
    
    
}



//*** Diminuir tamanho do container do NavBar-expanded **// 

.bodyNav-expanded {
    width: $bodyNav-width-expanded;
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  

   

    }
    

    
}

@media only screen and (max-width: 481px){
    .bodyNav{
        width: 17vw;
        height: 85%;
        top: 110px;
        display: flex;
        flex-direction: column;
        overflow-y: x;
        border-radius:  20px;
    }
    
    .containerDivsLanguage{
        margin-top: 2px;
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

   

  


    .titleText{

        h5{
            font-size: 12px;
            font-weight: 800;
            
        }
    
    }

    .NavOptionsLinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1px;
        position: relative;
        right: 8px;
        gap: 8px;


    }

    .links-btnsNav{
        display: flex;
        gap: 5px;
        align-items: center;
        border: none;
        border-radius: 100px 0 0 100px;
        font-size: 0px;
        transition: all 0s ease-in-out;
    
        &:hover{
            width: 113%;
        }

        
    
    }
    .links-btnsNav.active{
        position: relative;
        width: 113%;
    }
    



    
}