.container-formRegister {
    background-color: #97979794;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-family: 'Roboto', sans-serif;

}

.containerLogosRegister{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;

  .logo-sema{
    width: 300px;
    height: 150px;
  }
}

.containerRegisterUsers {
      background-color: #e4e4e4;
      box-shadow: #24a63836 0px 10px 20px, #24a63836 0px 6px 6px;
      width: 30%;
      height: max-content;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color:rgb(44, 64, 63);

      hr {
        width: 107%;
        border: 1px dashed rgb(44, 64, 63);
      }

}


//** btnBackRegister animate **//

.btnBackRegister {
  position: absolute;
  background: transparent;
  border: none;
  top: 30px;
  left: 50px;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  img {
    width: 28px;
    height: 28px;
  }
}

.btnBackRegister:before,
.btnBackRegister:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.btnBackRegister:before {
  border: 2px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.btnBackRegister:after {
  border: 2px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.btnBackRegister:hover:before,
.btnBackRegister:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btnBackRegister:hover:after,
.btnBackRegister:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.btnBackRegister-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.btnBackRegister-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.btnBackRegister:hover .btnBackRegister-box,
.btnBackRegister:focus .btnBackRegister-box {
  transition: 0.4s;
  transform: translateX(-56px);
}


//** **//

.formRegister {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.hrLoginAndRegister {
  width: 107%;
  border: 1px dashed rgb(44, 64, 63);

}

.titleRegister {
  color: rgb(44, 64, 63);
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 800;

}

.txtRegister {
  color: rgb(44, 64, 63);
  font-size: 14px;
  text-align: center;
}




.error-txtRegister {
  margin-top: 6px;
  font-size: 14px;
  line-height: 16px;
  color: rgba(173, 2, 2, 0.849);

}

.end-txt{
  text-align: center;
}

.containerBtnAndLink{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





@media only screen and (max-width: 740px) {

  .containerLogosRegister{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;

  .logo-sema{
    width: 140px;
    height: 70px;
  }
}

  .container-formRegister img{
       width: 60%;
  }

 .containerRegisterUsers{
      width: 90%;
 }


  .btnBackRegister {
    display: none;
  }

 

  .containerUserInfo {
    width: max-content;
    display: flex;
    padding: 5px;
    gap: 5px;
    background-color: #ffffff3f;
    border-radius: 15px;
  }

  .hrLoginAndRegister {
    width: 103.5%;
    border: 1px dashed white;
    margin-bottom: 10px;
  }

  h6 {
    color: white;
    font-size: 12px;
  }

  .RetrieveAccLink {
    position: relative;
    left: 70px;
    bottom: 10px;
    color: rgb(165, 165, 165);

    &:hover {
      color: #2C403F;
    }
  }

  .customContainerUser {
    width: max-content;



  }

  .LabelFormRegister {
    font-size: 12px;
    color: white;
    margin-bottom: 6px;

  }

  .btnBackRegister {
    color: red;
  }

  .InputFormRegister {

    width: 300px;
    height: 30px;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    color: black;

    &::placeholder {
      font-size: 10px;
      color: rgba(156, 156, 156, 0.541);
    }


  }


 



  .end-txtRegister {
    color: white;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    gap: 5px;
  }

  .link-endRegister {
    font-size: 14px;
    color: white;

    &:hover {
      color: #2C403F;
    }
  }
}