.ContainerUsers {
    width: 100%;
}

.containerHeaderUsers {
    display: flex;
    gap: 10px;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px 15px 0px;
    color: rgb(44, 64, 63);
    margin-top: 15px;

    p {
        font-weight: bold;
    }
}

.formInputsPrime {
    display: flex;
    gap: 10px;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px 15px 0px;

}

.formInputsPrime .p-float-label label {

  font-weight: bold; 
}


.btnSearchPrime {
    background-color: #24A637;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;

    &:hover {
        color: rgb(44, 64, 63);
        background-color: rgb(224, 223, 223);
        transition: all 0.5s ease-in-out;
    }
}

.btnCleanPrime {
    background-color: rgb(71, 71, 71);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;

    &:hover {
        color: rgb(44, 64, 63);
        background-color: rgb(224, 223, 223);
        transition: all 0.5s ease-in-out;
    }
}

.containerButtonsPrime {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.btnEditUser {
    background-color: rgb(44, 64, 63);
    border: none;
    border-radius: 5px;

    &:hover {
        color: rgb(44, 64, 63);
        background-color: rgb(224, 223, 223);
        transition: all 0.5s ease-in-out;
    }
}

.ContainerTable {
    border-radius: 10px;
    width: 99.5%;
    padding-left: 10px;
}