.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 2px 8px;
    width: 14vw;
    border: 1px solid rgba(255, 255, 255, 0.363);
    border-radius: 10px;

    img{
        width: 35px;
        height: 35px;
    }
    

    p{
        margin-top: 6px;
        margin-left: 5px;
        font-size: 14px;
        padding-left: 2px;
        text-align: justify;
        font-weight: 400;
        color: #000;
    }
    
    a{
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        cursor: pointer;
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.849)
    }
}


@media only screen and (max-width: 740px){
    .container-login{
        display: none;
    }
}

  
