
.bodyHeader{
    background-image: 
    url('../../../assets/img/header-logo-gov.svg'),
    linear-gradient(to left, #56BFC9, #24A637 65%);
    background-repeat: no-repeat;
    background-size: 25% auto, cover;
    background-position: bottom left, center;
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}


.containerLogo{
  padding: 10px 10px 10px 0px;
  cursor: pointer;
  margin-left: 360px;

  img{
    width: 100%;
  }

}

.ContainerUserCustom{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 430px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.082); 
    
}

.containerUser{
    display: flex;
    padding-top: 15px;
    gap: 10px;
    color: white;

    p{
      font-weight: bold;
      padding-top: 2px;
      font-size: 14px;
    }
    
}



.SettingsBtn{
  border: none;
  background-color: transparent;
  color: white;
  transition: 0.5s all ease-in-out;

  &:hover{      
    color: rgba(255, 255, 255, 0.219);
  
}
}

//** buttonExit **//


  .backButton {
    background-color: transparent;
    position: relative;
    border: none;
    color: rgb(168, 7, 7);
    cursor: pointer;
  }
  
  .backButton::after {
    content: 'Sair';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 7, 7);
    padding: 4px 8px;
    border-radius: 5px;
    transition: .5s ease-in-out;
    transition-delay: .2s;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
  }
  
  .iconLogout {
    transform: scale(1.2);
    transition: .2s linear;
  }
  
  .backButton:hover > .iconLogout {
    transform: scale(1.5);
  }
  
  .backButton:hover > .iconLogout path {
    fill: rgb(168, 7, 7);
  }
  
  .backButton:hover::after {
    visibility: visible;
    opacity: 1;
    top: -120%;
  }
//** buttonExit final code **//




@media (min-width:481px) and (max-width: 1280px){

  .ContainerUserCustom{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 110px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.082); 
    
}

  }

@media only screen and (max-width: 481px){

  




.containerUser{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px 0px 5px;
    height: 55px;
    position: relative;
    


    p{ 
        position: relative;
        top: 10px; 
        width: 150px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.726);
    } 
    
    .nameUser{
        color: rgba(255, 255, 255, 0.726);
    }
    
}


  .ContainerUserCustom{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 30px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.082); 

  }

  .containerLogo{
  display: none;

}






.containerImageHeaderAdmin{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.custom-userPhoto{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
    cursor: pointer;
}

    
   //** buttonExit **//


  .backButton {
    background-color: transparent;
    position: relative;
    right: 0;
    border: none;
    color: rgb(168, 7, 7);
    cursor: pointer;
  }
  
   }