

.containerChangeLOG{
    height: 83vh;
    width: 40vw;
    border-radius: 10px;
    background-color: rgb(44, 64, 63);
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;

    .titleChangeLog{
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 0px;
        
    }

    hr{
        border: 1px dashed white;
        margin-top: 0px;
    }

}

.containerFormChangeLog{
    padding: 5px;
    display: flex;
    flex-direction: column;

    p{
        font-size: 14px;
    }
}


.containerAddChangeLog{
    color: white;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);
    margin-top: 0px;
    max-height: max-content;
}

.containerShowChangeLog{
    color: white;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);
    height: 37vh;
    margin-top: 3px;
}

.containerInputsChangeLog{
    display: flex;
    flex-direction: column;
  
}


.BtnChangeLogSubmit{
    border: none;
    height: 30px;
    width: 250px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(44, 64, 63);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}