

.FormsContainerAddChangeLog{
    width: 50%;
    max-height: 100%;
    border-radius: 10px;
    background-color: rgba(77, 76, 76, 0.137);
    padding: 10px;
    color:  #495057;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;


      p{
    font-size: 14px;
    color: #495057;
    font-weight: bold;
    padding-left: 5px;
   }


   
}

.containerInputsChangeLog{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 40px;
    
    
}

.btnSubmitChangeLog{
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: #24A637;
    color: white;
    font-size: 14px;


    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}

@media (min-width: 481px) and (max-width: 1280px){

}

@media only screen and (max-width: 481px) {

  .FormsContainerAddChangeLog{
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    background-color: rgba(77, 76, 76, 0.137);
    padding: 10px;
    color:  #495057;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;


      p{
    font-size: 14px;
    color: #495057;
    font-weight: bold;
    padding-left: 5px;
   }


   
}
    
   

}






