
.containerAllValuesLog{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, #7d7d7d 0%, #2c403f 68%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerImgLogo{
    margin-top: 100px;

}

.ContainerAllItemsLog{
    margin-top: 50px;
    color: white;
}