

.ButtonAddDataExplorer{
    border: none;
    height: 40px;
    margin-top: 12px;
    border-radius: 10px;
    background-color: #24A637;
    color: white;
    display: flex;
    justify-content: center;



    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}

.containerEdit{
    display: flex;
    gap: 5px;
}


.EditDataExplorer{
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(71, 71, 71);
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;


    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}

.editDataExplorerCSV{
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(71, 71, 71);
    color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    

    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}

.RemoveDataExplorer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(78, 27, 27);
    color: white;


    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}

@media (min-width: 481px) and (max-width: 1280px){

}

@media (max-width: 481px) {
    
    .ButtonAddDataExplorer,
    .EditDataExplorer,
    .RemoveDataExplorer {
        height: 26px; 
        padding: 0 8px; 
        font-size: 14px; 
        margin-top: 8px;
         
    }

    .editDataExplorerCSV{
        border: none;
        height: 28px;
        border-radius: 10px;
        background-color: rgb(71, 71, 71);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-top: 6px;
    }    
}