

.ButtonAddDataExplorer{
    border: none;
    height: 32px;
    margin-top: 12px;
    border-radius: 10px;
    background-color: rgb(44, 64, 63);
    color: white;



    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}

.containerEdit{
    display: flex;
    gap: 5px;
}


.EditDataExplorer{
    border: none;
    height: 32px;
    border-radius: 10px;
    background-color: rgb(71, 71, 71);
    color: white;
    width: 50%;


    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}

.editDataExplorerCSV{
    border: none;
    height: 32px;
    border-radius: 10px;
    background-color: rgb(71, 71, 71);
    color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}

.RemoveDataExplorer{
    border: none;
    height: 32px;
    border-radius: 10px;
    background-color: rgb(78, 27, 27);
    color: white;


    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}

@media (max-width: 768px) {
    .ButtonAddDataExplorer,
    .EditDataExplorer,
    .RemoveDataExplorer {
        height: 28px; /* Reduz a altura do botão para tablets */
        padding: 0 10px; /* Ajusta o padding horizontal para tablets */
        font-size: 12px; /* Reduz o tamanho da fonte para tablets */
    }
}

/* Celular */
@media (max-width: 480px) {
    .ButtonAddDataExplorer,
    .EditDataExplorer,
    .RemoveDataExplorer {
        height: 26px; 
        padding: 0 8px; 
        font-size: 0px; 
        margin-top: 8px;
         
    }
}