

.containerInputsAndLabels{
    display: flex;
    flex-direction: column;
}


.customFormsFileImports{
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.titleFilesImports{
    font-size: 12px;
    width: 100%
}

.LabelRotulosImports{
    margin-left: 5px;
    font-size: 12px!important;

   
}



.customOptionsSelect{
    color: white;
  
}

.inputRotulosImports{


    &::placeholder{
        color: gray;
        font-size: 10px;
    }
    
}

.BtnSubmitImport{
    height: 40px
}

