

.ContainerWrapperImportCSV{
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 10px;
    padding: 10px;
    height: max-content;

    p{
        margin-bottom: 5px;
        margin-top: 0px;
        width: 100%;
        font-size: 12px;
    }

    .HRCustom{
        margin-top: 6px;
        
    }
}

.titleFilesImports{
    font-size: 12px;
    width: 100%
}

.customFormsFileImports{
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.LabelRotulosImports{
    margin-left: 5px;
    font-size: 12px!important;

   
}

.toltipCustom{
    cursor: pointer;
      color:  #2c403f;
      margin-left: 5px;


      &:hover{
        color: white;
        transition: all 0.3s ease-in-out;
      }
}


.inputRotulosImports{


    &::placeholder{
        color: gray;
        font-size: 10px;
    }
    
}

.BtnSubmitImport{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 32px;
    margin-top: 12px;
    border-radius: 10px;
    background-color: rgb(44, 64, 63);
    color: white;



    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}


.containerButtonAddDataCSV{
    margin-top: 10px;
}

.ButtonAddCSV{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 32px;
    margin-top: 12px;
    border-radius: 10px;
    background-color: rgb(44, 64, 63);
    color: white;



    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}

