

.ContainerWrapperImportCSV{
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 10px;
    padding: 10px;
    height: max-content;

    
}

.titleFilesImports{
    padding-bottom: 40px;
}

.inputNameCustom .p-float-label input:focus + label,
.inputNameCustom .p-float-label.p-inputwrapper-filled label {
  color: white;
}
.inputRotulosImportsUpload {
    background-color: rgb(44, 64, 63);
}

.customFormsFileImports{
    margin-bottom: 10px;
}


.BtnSubmitImport{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    height: 40px;
    width: 100%;
    margin-top: 12px;
    border-radius: 10px;
    background-color: rgb(44, 64, 63);
    color: white;



    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}

.txtErrorPassword{
    text-align: start!important;
}


.containerButtonAddDataCSV{
    margin-top: 10px;
}

.ButtonAddCSV{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    width: 100%;
    height: 40px;
    font-size: 14px;
    margin-top: 12px;
    border-radius: 10px;
    background-color: rgb(44, 64, 63);
    color: white;



    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.5s ease-in-out;
    }
}

@media (max-width: 768px) {
    .ContainerWrapperImportCSV {
        padding: 8px;
    
      
    }

    .titleFilesImports {
        font-size: 8px; 
    }

    .customFormsFileImports {
        gap: 8px; 
    }

    .LabelRotulosImports {
        font-size: 11px !important; 
    }

    .inputRotulosImports::placeholder {
        font-size: 9px; 
    }

    .BtnSubmitImport,
    .ButtonAddCSV {
        height: 28px; 
        margin-top: 10px; 
    }
}


@media (max-width: 480px) {
    .ContainerWrapperImportCSV {
        
        padding: 5px; 
    }

    .titleFilesImports {
        font-size: 14px!important; 
    }

    .customFormsFileImports {
        gap: 6px; 
    }

    .LabelRotulosImports {
        font-size: 12px !important; 
    }

    .inputRotulosImports{
     width: 240px; 
     height: 35px;  

     &::placeholder {
        font-size: 12px; 
    }
   }

   .containerButtonAddDataCSV{
     
    p{
        font-size: 14px;
    }
   }

    .BtnSubmitImport,
    .ButtonAddCSV {
        width: 240px;
        height: 35px; 
        margin-top: 8px;
        font-size: 14px;
      
    }
}

