@import 'bootstrap/scss/bootstrap';

.custom-div-header{
    height: 100px;
    background-color: rgba(44, 64, 63, 0.719);
    border-bottom: 3px solid rgb(136, 231, 136);
}

.bg-gray-header{
    background-color: #bababa;
}

.my-custom-div{
    height: 30px;
}

a.links-color{
    color: black !important
}

.my-custom-button{
    display: flex;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 5px;
    font-style: italic;
    margin: 0px 4px 4px 4px;
    background: none;
    font-weight: bold;

}

.margin-custom{
    margin-top: 4px;
}



