#ContainerModalAdd{

  .modal-content{
        background-color: rgba(255, 255, 255, 0.267);
          backdrop-filter: blur(10px);
          display: flex;
          justify-content: center;
          width: 55vw;
  }

  .ContainerForm{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    background-color: rgba(199, 199, 199, 0.644);
    border-radius: 10px;
    padding: 10px;
    height: max-content;

  }

  .btnAdd{
    color: white;
    background-color: #24A637;
    border: 1px solid #24A637;

    &:hover{
      background-color: white;
      color: #24A637;
      border: 1px solid white;
    }
  }
  
}