.my-div-footerAdmin{
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 6px;
    color: #24A637;
    border-top: 3px solid #24A637;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
   
}

.footer-textOneAdmin{
    margin-top: 2px;
    text-align: center;
}

.footer-textTwoAdmin{
  border-left: 1px solid #24A637!important;
  color: #24A637;
  text-decoration: none;
  margin: 5px 0px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;

  &:hover{
    text-decoration: underline;
  }
   
}

@media (min-width: 768px) and (max-width: 1024px){

  .my-div-footerAdmin{
    background: linear-gradient(15deg, rgb(134, 134, 134) 0%, rgb(44, 64, 63) 25%);
    display: flex;
    justify-content: center;
    gap: 6px;
    color: rgba(204, 204, 204, 0.76);
    position: fixed;
    left: 0;
    bottom: 30px;
    height: 30px;
    border: 1xp solid;
   
}

.footer-textOneAdmin{
    margin-top: 2px;
    text-align: center;
    font-size: 8px;
    width: 300px;
}

.footer-textTwoAdmin{
  border-left: 1px solid #6c6868!important;
  color: rgba(204, 204, 204, 0.76);
  text-decoration: none;
  margin: 5px 0px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 8px;

  &:hover{
    text-decoration: underline;
  }
   
}
  
  
}

@media (min-width: 480px) and (max-width: 1024px){

  .my-div-footerAdmin{
    background: linear-gradient(15deg, rgb(134, 134, 134) 0%, rgb(44, 64, 63) 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: rgba(204, 204, 204, 0.76);
    position: fixed;
    left: 0;
    bottom: 0px;
    height: 30px;
    
   
}

.footer-textOneAdmin{
    margin-top: 12px;
    text-align: center;
    font-size: 10px;
    width: 500px;
}

.footer-textTwoAdmin{
  border-left: 1px solid #6c6868!important;
  color: rgba(204, 204, 204, 0.76);
  text-decoration: none;
  margin: 5px 0px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 10px;

  &:hover{
    text-decoration: underline;
  }
   
}
  
  
}


@media only screen and (max-width: 480px){

  .my-div-footerAdmin{
    background: linear-gradient(15deg, rgb(134, 134, 134) 0%, rgb(44, 64, 63) 25%);
    display: flex;
    justify-content: center;
    gap: 6px;
    color: rgba(204, 204, 204, 0.76);
    position: fixed;
    left: 0;
    bottom: 0px;
    height: 30px;
   
}

.footer-textOneAdmin{
    margin-top: 2px;
    text-align: center;
    font-size: 8px;
    width: 300px;
}

.footer-textTwoAdmin{
  border-left: 1px solid #6c6868!important;
  color: rgba(204, 204, 204, 0.76);
  text-decoration: none;
  margin: 5px 0px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 8px;

  &:hover{
    text-decoration: underline;
  }
   
}
  
  
}