.my-div-footerAdmin{
    background: linear-gradient(15deg, rgb(134, 134, 134) 0%, rgb(44, 64, 63) 25%);
    display: flex;
    justify-content: center;
    gap: 6px;
    color: rgba(204, 204, 204, 0.76);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
   
}

.footer-textOneAdmin{
    margin-top: 2px;
    text-align: center;
}

.footer-textTwoAdmin{
  border-left: 1px solid #6c6868!important;
  color: rgba(204, 204, 204, 0.76);
  text-decoration: none;
  margin: 5px 0px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;

  &:hover{
    text-decoration: underline;
  }
   
}




@media only screen and (max-width: 1000px){

  .my-div-footer{
    height: 50px;
  }

  .footer-textOne{
    font-size: 11px;
    text-align: start;
  
  }

  .footer-textTwo{
    font-size: 11px;
    text-align: center;
    
  }
  
  
}