


.container-form{
    background-color: #7d7d7d;
    background-image: linear-gradient(45deg, #7d7d7d 0%, #2c403f 68%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-family: 'Roboto', sans-serif;

    
}

.ModalRecoverPassword{
    background: transparent;
    color: red;
}


//** btnBack animate **//

.btnBack {
    position: absolute;
    background: transparent;
    border: none;
    top: 30px;
    left: 50px;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    img{
        width: 28px;
        height: 28px;
    }
  }
  
  .btnBack:before,
  .btnBack:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .btnBack:before {
    border: 2px solid #f0eeef;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .btnBack:after {
    border: 2px solid #96daf0;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .btnBack:hover:before,
  .btnBack:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .btnBack:hover:after,
  .btnBack:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .btnBack-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .btnBack-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #f0eeef;
  }
  
  .btnBack:hover .btnBack-box,
  .btnBack:focus .btnBack-box {
    transition: 0.4s;
    transform: translateX(-56px);
  }


//** **//

.customBody-form{
    background-color: #e4e4e423;
    box-shadow: 5px 5px 5px 5px rgba(27, 27, 27, 0.329);
    width: 30%;
    height: max-content;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    hr{
        width: 107%;
        border: 1px dashed white;
        margin-bottom: 20px;
    }
}

.custom-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.titleLogin{
    font-size: 40px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    
}

.LabelForm{
    font-size: 18px;
    color: white;
    margin-bottom: 6px;
    
}

.InputForm{
    
    width: 300px;
    height: 32px;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    color: black;


}




.Btn-Form{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;
    border-radius: 5px;
    width: 120px;
    height: 45px;
    outline: none;
    color: white;
    &:hover{
        transform: scale(1.03);
        transition: 0.4s all ease-in-out;
        border: none;
        background-color: #2C403F
    }
    
}

//** btnLogin **//

.Btn-Form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 36px;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: white;
    box-shadow: 0 0 0 2px #2C403F;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1);
    
  }
  
  
  .Btn-Form .arr-1 {
    right: 16px;
  }
  
  .Btn-Form .arr-2 {
    left: -25%;
  }
  
  
  
  .Btn-Form .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .Btn-Form:hover {
    box-shadow: 0 0 0 12px transparent;
    color: white;
    border-radius: 12px;
  }
  
  .Btn-Form:hover .arr-1 {
    right: -25%;
  }
  
  .Btn-Form:hover .arr-2 {
    left: 16px;
  }
  
  .Btn-Form:hover .text {
    transform: translateX(12px);
  }
  
  .Btn-Form:hover img {
    color: white;
  }
  
  .Btn-Form:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px white;
  }
  
  .Btn-Form:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }

//** end **//

.error-txt{
    font-size: 14px;
    line-height: 16px;
    color: rgba(173, 2, 2, 0.849);
    margin-left: 5px;
}



.end-txt{
    color: white;
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.link-end{
    font-size: 18px;
    color: white;

    &:hover{
        color: #2C403F;
    }
}

.govTxt{
    color: white;
    font-size: 14px;
}


@media only screen and (max-width: 740px){
    .container-form img {
        width: 90%;
    }

    .customBody-form{
        width: 90vw;
    }

    .btnBack{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 2px;
        left: 10px;
        background: transparent;
        border: none;
    
        img{
            width: 30px;
        }
    
    
        :hover{
            transform: scale(1.05);
            transition: all 0.1s ease-in-out;
        }
    }

    .govTxt{
        color: white;
        font-size: 12px;
        width: 350px;
        margin-left: 15px;
        text-align: center  ;
    }
}

  
