#ModalRecover .modal-content{
    background-color: rgba(218, 218, 218, 0.281);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    color: white;

}

.HeaderModalRecover .btn-close{
    border: 1px solid white;
}

.BodyModalRecover{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reCapModalRecover{
    margin-top: 20px;
}

.Btn-FormRecover{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    color: white;
    cursor: pointer;
    &:hover{
        transform: scale(1.03);
        transition: 0.4s all ease-in-out;
        border: none;
        background-color: #2C403F
    }
    
}

.error-txtRecover{
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 0, 0, 0.849);
    margin-left: 5px;
    margin-top: 5px;
}