
.titleLoginResetPass{
    font-size: 35px;
    color: white;
}

.containerUserInfoResetPass{
    margin-top: 15px;
    width: max-content;
    height: max-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    grid-template-columns: 2fr 2fr;
    margin-bottom: 10px;
    background-color: #ffffff3f;
    border-radius: 15px;
}


.txtRecoverPass{
    color: white;
    font-size: 14px;
    text-align: center;
}

.LabelFormResetPass{
    font-size: 16px;
    color: white;
}

.InputFormResetPass{
        
    width: 300px;
    height: 32px;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    color: black;

    &::placeholder{
        font-size: 12px;
        color: rgba(156, 156, 156, 0.541);
    }


}