.splash-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #97979794;
  text-align: center;
  gap: 50px;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #24A637;
  }

  p {
    font-size: 1.5rem;
    color: #24A637;
    margin-bottom: 2rem;
  }


}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #24A637;
  border-left-color: #2c403f;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}