#modalImportCsvBilingue
.modal-content{
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);

}

.containerInfo{
    height: 81.9vh;
    background-color: #2c403f;
    border-radius: 10px;
    color: white;
    text-align: center;
    overflow: auto;
    padding: 10px;
  
}


.containerBtnsSubmit{
    display: flex;
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;


    p{
        font-size: 14px;
        width: 100%;
        color: white;
        margin-bottom: 0px;
        text-align: center;
    }
}


.BtnDownloadExemple {
    font-size: 14px;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(71, 71, 71);
    margin-bottom: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.3s ease-in-out; 
    
    &:hover {
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
    }
}


.BtnSubmitRotulosCSV{
    
    border: none;
    border-radius: 10px;
    background-color: rgb(44, 64, 63);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.3s ease-in-out;
    }
}




@media only screen and (max-width: 1040px){

    
    
    .formGroupTwo{
        margin-top: 20px;
    }
    
    .LabelCSV{
        color: gray;
        font-size: 12px !important;
        margin-left: 5px;
        display: flex;
        flex-direction: row;
    }

    .inputCSV{
        width: 67vw;
        height: 35px;

        &::placeholder{
            color: gray;
            font-size: 12px;
        }
    }
    
    .containerBtnsSubmit{
        display: flex;
        justify-content: space-between;
    }
    
    .BtnSubmitRotulosCSV{
        margin-top: 10px;
        border: none;
        border-radius: 10px;
        background-color: rgb(71, 71, 71);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        gap: 5px;
    
        &:hover{
            color: rgb(44, 64, 63);
            background-color: rgb(255, 254, 254);
            transition: all 0.3s ease-in-out;
        }
    }


}

 

@media only screen and (max-width: 480px){
    
    .ContainerAllImportCSVRotulos{
        background-color: #e9e8e8;
        border-radius: 10px;
        padding: 10px;
        margin-top: 10px;
        width: max-content;
    }
    
    .formGroupTwo{
        margin-top: 20px;
    }
    
    .LabelCSV{
        color: gray;
        font-size: 12px !important;
        margin-left: 5px;
        display: flex;
        flex-direction: row;
    }

    .inputCSV{
        width: 255px;
        height: 35px;

        &::placeholder{
            color: gray;
            font-size: 12px;
        }
    }
    
    .containerBtnsSubmit{
        display: flex;
        justify-content: space-between;
    }
    
    .BtnSubmitRotulosCSV{
        margin-top: 10px;
        border: none;
        border-radius: 10px;
        background-color: rgb(71, 71, 71);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        gap: 5px;
    
        &:hover{
            color: rgb(44, 64, 63);
            background-color: rgb(255, 254, 254);
            transition: all 0.3s ease-in-out;
        }
    }
    
 
   }

