.ContainerAllImportCSVRotulos{
    background-color: #cacaca;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.containerBtnsSubmit{
    display: flex;
    justify-content: space-between;
}

.BtnSubmitRotulosCSV{
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(71, 71, 71);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.3s ease-in-out;
    }
}