

.containerImportRotulos{
    background-color: #cacaca;
    border-radius: 10px;
    width: 51vw;
    padding: 10px;
   
}


.customFormsFileImports{
    display: flex;
    gap: 15px;

}

.titleFilesImports{
    color: gray;
    font-weight: 900;
}

.LabelRotulosImports{
    color: gray;
    margin-left: 5px;
    font-size: 14px!important;
    width: 180px;

   
}


.customOptionsSelect{
    color: gray;
}

.customDropDownItems{
    width: 240px;
    color: gray;
    background-color: #cacaca;
    
}

.customOptionsSelect{
    color: white;

    
    
}

.inputRotulosImports{


    &::placeholder{
        color: gray;
        font-size: 12px;
    }
    
}



.BtnSubmitImport{
    position: relative;
    width: 100px;
    height: 40px;
    top: 30px;
}

