

.containerImportRotulos{
    background-color: #cacaca;
    border-radius: 10px;
    width: 51vw;
    padding: 10px;
   
}


.customFormsFileImports{
    display: flex;
    gap: 40px;
    align-items: center;
}

.titleFilesImports{
    color: gray;
    font-weight: 900;
}

.LabelRotulosImports{
    color: gray;
    margin-left: 5px;
    font-size: 14px!important;
}


.customOptionsSelect{
    color: gray;
}

.inputRotulosImports{

}

.inputRotulosImportsFiles{
    color: gray;
}

.BtnSubmitImport{
    position: relative;
    width: 100px;
    height: 40px;
    top: 7px;
}

