

.containerImportRotulos{
    background-color: #cacaca;
    border-radius: 10px;
    width: 45vw;
    padding: 10px;
    
   
}

.customContainerImporRotulos{
    padding: 10px;
    

}

.containerInputsAndLabels{
    display: flex;
    flex-direction: column;
}


.customFormsFileImports{
    display: flex;
    gap: 12px;

}



.titleFilesImports{
    color: gray;
    font-weight: 900;
}

.LabelRotulosImports{
    color: gray;
    margin-left: 5px;
    font-size: 12px!important;

   
}


.customOptionsSelect{
    color: gray;
}

.customDropDownItems{
    width: 240px;
    color: gray;
    background-color: #cacaca;
    
}

.customOptionsSelect{
    color: white;

    
    
}

.inputRotulosImports{


    &::placeholder{
        color: gray;
        font-size: 11px;
    }
    
}



.BtnSubmitImport{
    height: 40px;
    margin-top: 30px;
}

