#customModalRotulos .modal-content{
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);

    
}

#customModalDelete .modal-content{
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);

    

    p{
        color: rgb(63, 63, 63);
    }

}
.titleEditRotulos{
    color: rgb(63, 63, 63);
}

.titleDeleteRotulos{
    color: rgb(63, 63, 63);;
}

.labelValuesRotulos{
    color: rgb(63, 63, 63);
}