
.ContainerAllRotulosOptions{
    display: flex;
    gap: 10px;
    width: 82vw;
    height: 82vh;
}



.ContainerAddInfoRotulos{
    border-radius: 10px;
    width: 51vw;
    height: max-content;
    display: flex;
    flex-direction: column;
   
    
}

.containerInfos{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #cacaca;
    

    .btnSubmitAddRotulos{
        height: 40px;
        position: relative;
        top: 30px;
    }
    
}

.titleRegisterRotulo{
    color: gray;
    font-weight: 900;
    font-size: 16px;
    
   
}

.containersLabelsFormRegisterRotulos{
       display: flex;
       width: max-content;
       gap: 15px;
       width: 100%;
      
}




.LabelRotulos{
    color: gray;
    font-size: 14px !important;
    margin-left: 5px;
    
}

.InputRotulos{

    &::placeholder{
        color: gray;
        font-size: 12px;
    }
}

.ActionCollumCustomRotulosTable{
    display: flex;
    gap: 20px;
}

.ContainersRegisterFileRotulos{
    display: flex;
    gap: 50px;
    margin-top: 15px;
    
}

.ContainerGetWithKeyRotulos{
    margin-top: 15px;
   
}


.containerTableInfoRotulos{
    width: 100vw;
    height: 83vh;
    background-color: rgb(44, 64, 63);
    padding: 12px;
    border-radius: 10px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.headerContainerTableRotulos{
    display: flex;
    justify-content: center;
    border-bottom: 1px dashed white;
    margin-bottom: 10px;
}

.titleTableRotulos{
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.BtnChangeTableRotulos{
    position: relative;
    left: 130px;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color:  rgba(44, 64, 63, 0.726);
        color: rgb(92, 89, 89);
        transition: all 0.3s ease-in-out;
    }
}

#containerOffCanvasTable{
    background-color: rgba(44, 64, 63, 0.726);
    color: white;
    margin-top: 90px;
    height: 100%;
    overflow: auto;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius:10px 0px;
   
}

.titleSideBarChangeTable{
    font-size: 30px;
}


.buttonChangeMapWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
 


    button{
        background-color: transparent;
        color: white;
        border: 1px solid;
        padding: 5px;
        border-radius: 10px;

        &:hover{
            background-color: #cacaca;
            color: rgba(44, 64, 63, 0.726);
            transition: all 0.3s ease-in-out;
        }

    }
}

.containerBtnsTableView{
    display: flex;
    flex-direction: row;
    gap: 10px;

    :hover{
        transform: scale(1.04);
    }

}

.btnEditCustom{
    padding: 5px;
    background-color:  rgba(44, 64, 63, 0.726);
    border: none;
    border-radius: 10px;
    color: white;
}

.btnRemoveCustom{
    padding: 5px;
    background-color: rgb(78, 27, 27);
    border: none;
    border-radius: 10px;
    color: white;

    :hover{
        transform: scale(1.04);
       
    }
}








@media only screen and (max-width: 740px){

    .containerInfos{
        width: max-content;
    }
    
  }