

.containerInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    width: 300px;
    background-color: #cacaca;
    border-radius: 10px;
}

.ContainerAllRotulosOptions{
    display: flex;
    gap: 200px;
    
}

.ContainerAddInfoRotulos{

}

.LabelRotulos{
    color: gray;
}

.InputRotulos{
    width: 250px;

    &::placeholder{
        color: #cacaca
    }
}

.containerResultofRotulos{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    width: 350px;
    background-color: #cacaca;
    border-radius: 10px;
}

.ResultRotulos{
    
}


@media only screen and (max-width: 740px){

    .containerInfos{
        width: max-content;
    }
    
  }