
.ContainerAllRotulosOptions{
    display: flex;
    gap: 10px;
    padding-right: 10px;

}



.titleRegisterRotulo{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    color:  rgb(44, 64, 63);
   
}

.containersLabelsFormRegisterRotulos{
       display: flex;
       flex-direction: column;
       gap: 20px;
       width: 100%;
       padding-top: 20px;
      
}


.InputRotulos{
    width: 100%;
    margin-top: 10px;
    
}

.btnSubmitAddRotulos{
    border: none;
    border-radius: 10px;
    background-color: #24A637;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  

    &:hover{
        color: rgb(44, 64, 63);
        background-color: rgb(255, 254, 254);
        transition: all 0.3s ease-in-out;
    }
}

.ActionCollumCustomRotulosTable{
    display: flex;
    gap: 20px;
}

.ContainersRegisterFileRotulos{
    display: flex;
    gap: 50px;
    margin-top: 15px;
    
}



.containerBtnsTableView{
    display: flex;
    flex-direction: row;
    gap: 10px;

    :hover{
        transform: scale(1.04);
    }

}

.btnEditCustom{
    padding: 5px;
    background-color:  rgba(44, 64, 63, 0.726);
    border: none;
    border-radius: 10px;
    color: white;
}

.btnRemoveCustom{
    padding: 5px;
    background-color: rgb(78, 27, 27);
    border: none;
    border-radius: 10px;
    color: white;

    :hover{
        transform: scale(1.04);
       
    }
}







@media (min-width: 480px) and (max-width: 1024px){
    .ContainerAllRotulosOptions{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 82vw;
        height: max-content;
        overflow: auto;
    
    }
    
    
    
    .ContainerAddInfoRotulos{
        border-radius: 10px;
        width: 51vw;
        height: max-content;
        display: flex;
        flex-direction: column;
       
        
    }
   
    
    .btnEditCustom{
        padding: 5px;
        background-color:  rgba(44, 64, 63, 0.726);
        border: none;
        border-radius: 10px;
        color: white;
    }
    
    .btnRemoveCustom{
        padding: 5px;
        background-color: rgb(78, 27, 27);
        border: none;
        border-radius: 10px;
        color: white;
    
        :hover{
            transform: scale(1.04);
           
        }
    }
    

}

 

@media only screen and (max-width: 480px){
    .ContainerAllRotulosOptions{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 82vw;
        height: max-content;
        overflow: auto;
    
    }
    
    
    
    .ContainerAddInfoRotulos{
        border-radius: 10px;
        width: 51vw;
        height: max-content;
        display: flex;
        flex-direction: column;
       
        
    }
    

    
    .btnEditCustom{
        padding: 5px;
        background-color:  rgba(44, 64, 63, 0.726);
        border: none;
        border-radius: 10px;
        color: white;
    }
    
    .btnRemoveCustom{
        padding: 5px;
        background-color: rgb(78, 27, 27);
        border: none;
        border-radius: 10px;
        color: white;
    
        :hover{
            transform: scale(1.04);
           
        }
    }
    
    
    
 
   }

