.containerTableBilingue{
    margin-top: 15px;
}


.containerHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.containerTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}