
.containerResultofRotulos{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    height: 48vh;
    background-color: #cacaca;
    border-radius: 10px;

    .titleGetRotulosWithKey{
        color: gray;
        font-weight: 900;
        margin-bottom: 0px;
        text-align: center;
    }
}

.ResultRotulos{
    border-bottom: 1px dashed gray;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    


    .containerSearchWithKey{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 5px;
        border-radius: 20px;
        background: linear-gradient(15deg, rgb(134, 134, 134) 0%, rgb(44, 64, 63) 25%);
        backdrop-filter: blur(10px);
        margin-top: 0px;
        width: 300px;
        

        label{
            color: white;
        }
    }

    .btnSubmitGetRotulos{
        height: 40px;
        position: relative;
        top: 7px;
    }
    
}

.ContainerValuesDataRotulos{
    border-radius: 10px;
    padding: 10px;
    background-color:rgb(44, 64, 63);
    color: white;
    overflow: auto;
    
}


.LineHR{
    border: 1px dashed;
}



#valuePathWithIcon{
    display: flex;
    gap: 10px;

    .iconDownload{
        color: rgb(44, 64, 63);
        cursor: pointer;

        &:hover{
            scale: (1.2);
            transition: all 0.3s ease-in-out;
        }
    }
}