
.containerResultofRotulos{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 70vw;
    height: 33vh;
    background-color: #cacaca;
    border-radius: 10px;
    overflow: auto;

    .titleGetRotulosWithKey{
        color: gray;
        font-weight: 900;
        margin-bottom: 0px;
        text-align: center;
    }
}

.ResultRotulos{
    border-bottom: 1px dashed gray;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    

 }
    .containerSearchWithKey{
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 5px;
        border-radius: 20px;
        background-color:  rgb(44, 64, 63) ;
        margin-top: 0px;
        width: 25vw;
        

        label{
            color: white;
        }

    .btnSubmitGetRotulos{
        border: none;
        height: 40px;
        border-radius: 10px;
        background-color: rgb(71, 71, 71);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 28px;
    
        &:hover{
            color: rgb(44, 64, 63);
            background-color: rgb(255, 254, 254);
            transition: all 0.3s ease-in-out;
        }
    }
    
}

.ContainerValuesDataRotulos{
    border-radius: 10px;
    padding: 10px;
    background-color:rgb(44, 64, 63);
    color: white;
    overflow: auto;
    margin-top: 5px;
    
}


.LineHR{
    border: 1px dashed;
}



#valuePathWithIcon{
    display: flex;
    gap: 10px;

    .iconDownload{
        color: rgb(44, 64, 63);
        cursor: pointer;

        &:hover{
            scale: (1.2);
            transition: all 0.3s ease-in-out;
        }
    }
}


@media only screen and (max-width: 1040px){


}

 

@media only screen and (max-width: 480px){
    
   
.containerResultofRotulos{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 71vw;
    height: max-content;
    background-color: #cacaca;
    border-radius: 10px;
    overflow: auto;

    .titleGetRotulosWithKey{
        color: gray;
        font-weight: 900;
        margin-bottom: 0px;
        text-align: center;
    }
}

.ResultRotulos{
    border-bottom: 1px dashed gray;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    

 }
    .containerSearchWithKey{
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 5px;
        border-radius: 20px;
        background-color:  rgb(44, 64, 63) ;
        margin-top: 0px;
        width: max-content;
        

        label{
            color: white;
        }

    .btnSubmitGetRotulos{
        border: none;
        height: 40px;
        border-radius: 10px;
        background-color: rgb(71, 71, 71);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
    
        &:hover{
            color: rgb(44, 64, 63);
            background-color: rgb(255, 254, 254);
            transition: all 0.3s ease-in-out;
        }
    }
    
}

.ContainerValuesDataRotulos{
    border-radius: 10px;
    padding: 10px;
    background-color:rgb(44, 64, 63);
    color: white;
    overflow: auto;
    margin-top: 5px;
    
}


.LineHR{
    border: 1px dashed;
}



#valuePathWithIcon{
    display: flex;
    gap: 10px;

    .iconDownload{
        color: rgb(44, 64, 63);
        cursor: pointer;

        &:hover{
            scale: (1.2);
            transition: all 0.3s ease-in-out;
        }
    }
}
 
   }

