@import 'bootstrap/scss/bootstrap';

.my-custom-ContainerBtns{
    margin-top: 20px;
    margin-left: 20px;
    position: fixed;
    top: 150px;
    z-index: 100;
    

}
.my-custom-btns{
    padding:  4px 6px;
    background-color: rgba(44,64,63,.8);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;

    &:hover{
        transform: scale(1.05);
        transition: 0.3s all ease-in-out;
    }

}