

.containerBtns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    position: fixed;
    top: 190px;
    left: 20px;
    z-index: 2;
    width: max-content;
}
.my-custom-btns{
    padding:  4px 6px;
    background-color: rgba(44,64,63,.8);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;

    &:hover{
        transform: scale(1.05);
        transition: 0.3s all ease-in-out;
    }

}