.input-group{
    display: flex;
}

.form-label{
    font-weight: bold;
    font-size: 17px;
}

.textInport{
    color: green;
    font-size: 12px;
    padding: 5px;
}

.linkImport{
    font-size: 12px;
    cursor: pointer;
}