
.containerBtnLegend{
    position: fixed;
    bottom: 80px;
}
.containerLegend{
    position: fixed;
    bottom: 80px;
    left: 5px;
    width: 260px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(44,64,63,.8);
    padding: 5px;
    overflow: auto;
 
}

.containerTitle{
    display: flex;
    justify-content: space-between;
    height: 30px;
    border-bottom: 1px solid white;
}

.titleLegend{
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding-left: 6px;

}

.PopUpLayerItem{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.PopUpLayerLegendTitle{
    color: white;
}

.PopUpLayerLegend{
    width: 20px;

}


.LayerOpacity{
    height: 5px;
    
}

