

.custom-div-header{
  height: 100px;
  background-color: rgba(44, 64, 63, 0.719);
  border-bottom: 3px solid rgb(136, 231, 136);
  z-index: 3;
  position: fixed;
  top: 30px;
  width: 100%;
  
}

.custom-div{
  margin-left: auto;
  margin-right: 25px;
}

.my-navToogle-custom{
  margin-top: 130px;
  background-color: rgba(44, 64, 63, 0.719)!important;
  color: white!important;
  border-left: 2px solid rgb(136, 231, 136)!important;
  
}

.div-footer-toogler{
    display: flex;
    justify-content: space-between;
}

.containerNav{
  display: flex;
  flex-direction: column;
  border-top: 1px dashed white ;
  border-bottom: 1px dashed white ;
  
}

.ContainerNavOptions{
  display: flex;
  flex-direction: column;
}

.customContainerOptionsNav{
  display: flex;
  
}

.containerAllOptions{
  display: flex;
  gap: 5px;
}
.containerOptionsFolder{
  display: flex;
  font-size: 18px;
  background-color: transparent;


  .dropdown-menu{
    background-color: transparent;
    border: none;
    border-left: 1px solid white;
    border-radius: 0;
    
    &:hover{
      background-color: transparent;
    }
    
  }
  
 


  .dropdown-toggle::after{
    display: none;
  }
  
}
.dropdown-item{
  color: white;

  img{
    width: 20px;
    height: 20px;
  }
}

.customContainerImage{
     
  img{
    margin-top: 7px;
    width: 25px;
    height: 25px;
  }
      
      
}

.desativarCamadas{
  margin-top: 10px;
  color: white;
  font-size: 20px;
  text-decoration: underline;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.btnBaixarDados{
  margin: 45px 0px 0px 25px;
}




@media only screen and (max-width: 740px){
  .my-navToogle-custom{
    margin-top: 130px;
    background-color: rgba(44, 64, 63, 0.719)!important;
    color: white!important;
    border-left: 2px solid rgb(136, 231, 136)!important;
    width: 250px!important;
    font-size: 14px;
    
  }

  .navbar-toggler-icon {
    font-size: 14px;
}





.btns-header{
    width: 50px;
    height: 34px;

    .btns-icon{
      display: flex;
      justify-content: center;
      align-items: center;
    }
}


.div-footer-toogler{

}


}
