

.custom-div-header{
  height: 100px;
  background-color: rgba(44, 64, 63, 0.719);
  border-bottom: 3px solid rgb(136, 231, 136);
  z-index: 3;
  position: fixed;
  top: 30px;
  width: 100%;
 
  
}

.ContainerBtnsHeader{
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  gap: 10px;



}


.HeaderBtbs{
  background-color: transparent;
  padding: 5px;
  width: 50px;
  color: rgb(187, 187, 187);
  border: 1px solid;
  border-radius: 5px;

  :hover{
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
    
  }
}



.my-navToogle-custom{
  margin-top: 130px;
  background-color: rgba(44, 64, 63, 0.719)!important;
  color: white!important;
  border-left: 2px solid rgb(136, 231, 136)!important;
  overflow: auto;
  width: 450px!important;

  
}
.containerForm{
  display: flex;
  padding: 17px;

}
.titleNav{
  font-size: 32px;
  margin-left: 15px;
}

.inputForm{
  width: 350px;

  
}

.optionsValues{
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);
    position: relative;
    float: left;
}



.BtnForm{
  position: relative;
  border: none;
  background-color: transparent;
  right: 39px;
  border-radius: 50%;


 &:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s all ease-in-out;
 }
}


.containerNav{
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: 1px dashed white ;
  border-bottom: 1px dashed white ;

    h2{
      font-size: 35px;
    }
  
}




.desativarCamadas{
  margin-top: 10px;
  color: white;
  font-size: 20px;
  text-decoration: underline;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.btnBaixarDados{
  position: relative;
  top: 45px;
  left: 25px;
}




@media only screen and (max-width: 740px){
  .my-navToogle-custom{
    margin-top: 130px;
    background-color: rgba(44, 64, 63, 0.719)!important;
    color: white!important;
    border-left: 2px solid rgb(136, 231, 136)!important;
    width: 250px!important;
    font-size: 14px;
    
  }

  .navbar-toggler-icon {
    font-size: 14px;
}

.titleNav{
  font-size: 20px;
  margin-left: 15px;
}





.btns-header{
    width: 50px;
    height: 34px;

    .btns-icon{
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

.inputForm{
  width: 200px;

  &::placeholder {
    font-size: 10px;
  }
}



.BtnForm{
  position: relative;
  border: none;
  background-color: transparent;
  right: 39px;
  border-radius: 50%;

}

.desativarCamadas{
  margin-top: 5px;
  color: white;
  font-size: 12px;
  text-decoration: underline;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.btnBaixarDados{
  position: relative;
  top: 30px;
  width: 120px;
  height: 30px;
  font-size: 12px;
  left: 25px;
}

}
