

.custom-div-header{
  height: 100px;
  background-color: rgba(44, 64, 63, 0.719);
  border-bottom: 3px solid rgb(136, 231, 136);
  z-index: 3;
  position: fixed;
  top: 30px;
  width: 100%;
  
}

.custom-div{
  margin-left: auto;
  margin-right: 25px;
}

.my-navToogle-custom{
  margin-top: 130px;
  background-color: rgba(44, 64, 63, 0.719)!important;
  color: white!important;
  border-left: 2px solid rgb(136, 231, 136)!important;
  
}

.div-footer-toogler{
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 740px){
  .my-navToogle-custom{
    margin-top: 130px;
    background-color: rgba(44, 64, 63, 0.719)!important;
    color: white!important;
    border-left: 2px solid rgb(136, 231, 136)!important;
    width: 250px!important;
    font-size: 14px;
    
  }

  .navbar-toggler-icon {
    font-size: 14px;
}



.btns-header{
    width: 50px;
    height: 34px;

    .btns-icon{
      display: flex;
      justify-content: center;
      align-items: center;
    }
}


.div-footer-toogler{

}


}
