

.ContainerBodyDropDowns{
    display: flex;
    gap: 5px;
    
}



.customDropDown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    color: rgb(216, 216, 216);


    :hover{
        color: white;
    }


    .dropdown-toggle::after{
        display: none;
    }


    .dropdown-menu.show{
        color: rgb(216, 216, 216);
        padding: 10px;
        background-color: transparent;
        border: none;
        padding-left: 20px;
        border-left: 1px solid white;
        margin-top: 8px;
        position: static;
    }

    .dropdown-toggle{
        display: flex;
        align-items: center;
        gap: 2px;
      
    }


    .dropDownItemsClasseMaior{
        margin-top: 2px;
    }


    .containerNomeclaturaPedea{
        color: white;
        background-color: transparent;
    }
}