
.ContainerTools{
    border: 1px solid white;
    width: max-content;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ContainerLinks{
    display: flex;
    gap: 15px;
}

.linksTools{
    
    color: red;

    :hover{
        transform: scale(1.1);
        transition: all 0.3 ease-in-out;
    }
}

.iconIMG{
    width: 30px;
}


.ButtonFilter{
    border: 1px solid rgba(44, 64, 63, 0.719);
    border-radius: 10px;
    background-color: transparent;
    color: rgba(44, 64, 63, 0.719);

   
}


.ContainerFilter{
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;

    p{
        font-size: 16px;
        margin-bottom: 0px;
        padding-left: 5px;
    }
}

.ContainerFilterSelects{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.ContainerFilterInputBtns{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.inputSelectFilter{
    background-color: rgba(255, 255, 255, 0.384);
    cursor: pointer;
    border-radius: 5px;
}

.inputTxtFilter{
    background-color: transparent;
    margin-left: 5px;
    width: 260px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.274);
    color: white;
}