
.ContainerTools{
    border: 1px solid white;
    width: max-content;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ContainerLinks{
    display: flex;
    gap: 10px;
}

.linksTools{

    :hover{
        transform: scale(1.1);
        transition: all 0.3 ease-in-out;
    }
}

.iconIMG{
    width: 30px;
}



.ContainerFilter{
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 5px;

    p{  
        border-top: 1px dashed;
        margin-top: 5px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0px;
        padding-left: 10px;
    }
}

.ContainerFilterSelects{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.ContainerFilterInputBtns{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.inputSelectFilter{
    background-color: rgba(255, 255, 255, 0.384);
    cursor: pointer;
    border-radius: 5px;
}

.inputTxtFilter{
    margin-left: 5px;
    width: 260px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.384);
}

