


.container-form{
    background-color: #7d7d7d;
    background-image: linear-gradient(45deg, #7d7d7d 0%, #2c403f 68%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-family: 'Roboto', sans-serif;

    img{
        width: 30%;
    }

}

.btnBack{
    position: absolute;
    top: 30px;
    left: 50px;
    background: transparent;
    border: none;

    img{
        width: 40px;
    }


    :hover{
        transform: scale(1.05);
        transition: all 0.1s ease-in-out;
    }
}

.customBody-form{
    background-color: #e4e4e423;
    box-shadow: 5px 5px 5px 5px rgba(27, 27, 27, 0.329);
    width: 30%;
    height: max-content;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    hr{
        width: 107%;
        border: 1px dashed white;
        margin-bottom: 20px;
    }
}

.custom-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.titleLogin{
    font-size: 40px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    
}

.LabelForm{
    font-size: 18px;
    color: white;
    margin-bottom: 6px;
    
}

.InputForm{
    
    width: 300px;
    height: 32px;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    color: black;


}




.Btn-Form{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;
    border-radius: 5px;
    width: 120px;
    height: 45px;
    outline: none;
    color: white;
    &:hover{
        transform: scale(1.04);
        transition: 0.4s all ease-in-out;
        border: none;
        background-color: #2C403F
    }

    


    


    
}

.error-txt{
    font-size: 16px;
    line-height: 16px;
     color: rgba(173, 2, 2, 0.849);
    margin-left: 5px;
}

.end-txt{
    color: white;
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.link-end{
    font-size: 18px;
    color: white;

    &:hover{
        color: #2C403F;
    }
}


@media only screen and (max-width: 740px){
    .container-form img {
        width: 90%;
    }

    .customBody-form{
        width: 90vw;
    }
}

  
