.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 2px 8px;
    width: 14vw;
    border: 1px solid rgba(255, 255, 255, 0.363);
    border-radius: 10px;

    img{
        width: 35px;
        height: 35px;
    }
    

    p{
        margin-top: 6px;
        margin-left: 5px;
        font-size: 14px;
        padding-left: 2px;
        text-align: justify;
        font-weight: 400;
        color: #000;
    }
    
    a{
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        cursor: pointer;
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.849)
    }
}


.modal-content{
    background-color: rgba(44, 64, 63, 0.719)!important;
    border: none;


}

.modal-header{
    width: 100%;
    text-align: center;

    img{
        width: 90%;
    }
}



.btn-close{
    border: 1px solid white;
    padding: 5px!important;
    
}

.custom-modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}





.custom-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.LabelForm{
    font-size: 16px;
    color: white;
    
}

.InputForm{
    
    width: 300px;
    height: 32px;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;

    font-size: 16px;
}

.Btn-Form{
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;
    border-radius: 5px;
    outline: none;

    &:hover{
        transform: scale(1.02);
        transition: 0.2s all ease-in-out;
        background-color: transparent;
    }


    
}

.error-txt{
    font-size: 14px;
    line-height: 16px;
    color: red;
    margin-top: 4px;
    margin-left: 5px;
}

.end-txt{
    color: white;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.link-end{
    font-size: 16px;
    color: rgb(0, 110, 255);

    &:hover{
        color: white;
    }
}


@media only screen and (max-width: 740px){
    .container-login{
        display: none;
    }
}

  
